<div style="padding: 10px;">
    {{#each productos}}
        <div class="card" style="width: 250px; padding: 15px; margin: 10px;">
            <img src="http://localhost:2020/static/imagenes/{{this.imagen}}" class="card-img-top" alt="..."/>
            <div class="card-body" style="padding: 10px;">
                <h5 class="card-title">{{this.instrumento}}</h5>
                <h6>${{this.precio}}</h6>
                <p class="card-text">{{this.marca}} - {{this.modelo}}</p>
                <a href="#" class="btn btn-primary">Comprar</a>
            </div>
        </div>
    {{/each}}
</div>

{{#if prevLink}}
    <button type="button" class="btn btn-light"><a href="{{prevLink}}" style="text-decoration: none;"> Pagina anterior </a></button>
{{/if}}

{{#if nextLink}}
    <button type="button" class="btn btn-light"><a href="{{nextLink}}" style="text-decoration: none;"> Pagina siguiente </a></button>
{{/if}}

<script src="/socket.io/socket.io.js"></script>
<script src="/static/js/index.js"></script>